h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    /* padding: 30px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.title {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.stat_list {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: brown;
}

.percentage {
    margin-top: 10px;
    font-size: 28px;
}

.randomColor {
    background-color: var(--random-color);
}
